<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        Bienvenue chez Amozan, vendeur de fruits et légumes Bio depuis 1897
      </span>
      <span class="example-spacer"></span>
      <button
        routerLink="/shop"
        mat-icon-button
        #tooltip="matTooltip"
        matTooltip="Liste des produits"
      >
        <mat-icon>store</mat-icon>
      </button>
      <button
        routerLink="/cart"
        mat-icon-button
        #tooltip="matTooltip"
        matTooltip="Panier"
      >
        <div
          [matBadge]="cartLength$ | async"
          matBadgeOverlap="false"
          class="badge-button"
        >
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </button>
      <mat-divider vertical class="vertical-divider"></mat-divider>
      <button
        routerLink="/admin"
        mat-icon-button
        #tooltip="matTooltip"
        matTooltip="Gestion des produits disponibles"
      >
        <mat-icon>assignment</mat-icon>
      </button>
      <button
        routerLink="/user"
        mat-icon-button
        class="prof"
        #tooltip="matTooltip"
        matTooltip="Profile"
      >
        <div
          [matBadge]="userInitialName()"
          matBadgeOverlap="false"
          class="badge-button"
        >
          <mat-icon>person</mat-icon>
        </div>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
